:root{
    --primary-bg-color: #E2E2E2;
    --Bangin-Red: #8F0000;
    --accent-yellow: #EF9700;
}
.Main {
    background-color: #E2E2E2;
    justify-content: center;
    margin: 0;
}
.TitleBar-Container {
    background-color: #8F0000;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0 1% 0;

}
.TBcontent {
    color: white;
    align-items: center;
    font: bold 3em arial;
}
