:root{
    --primary-bg-color: #E2E2E2;
    --Bangin-Red: #8F0000;
    --accent-yellow: #EF9700;
}
.White-Bold {
    color: white;
    align-items: center;
    font: bold 2em arial;
}
.Black-Bold {
    color: black;
    align-items: center;
    font: bold 2em arial;
}
.Red-Bold{
    color: #8F0000;
    align-items: center;
    font: bold 2em arial;
}
.Red-SemiBold{
    color: #8F0000;
    align-items: center;
    font: 500 1.5em arial;
}
.Black-Thin{
    color: black;
    align-items: center;
    font: 500 1em arial;    
}
.Black-Thinner{
    color: black;
    align-items: center;
    font: 100 1em arial;   
}
.HyperL1{
    color: #8F0000;
    text-decoration: none;
}
.HyperL1:hover{
    color:#EF9700;
}
.txtAdj{
    font-size: 1.5em
}

/*Main page classes*/
.Main {
    background-color: #E2E2E2;
    justify-content: center;
    margin: 0;
    overflow: scroll;
}
.title-Container{
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 0;
}
.TitleBar {
    background-color: #8F0000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0 1% 0;
    height: 5vw;

}
#ShoppingCart{
    height: 48px;
    width: 59px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#ShoppingCart:hover{
    background-color: #cf3b3b;
    border-radius: 15px;
}
#ShopCartSVG{
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
}
.MenuBar {
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0 1% 0;
    height: 1.2vw;
}
.MenuBar div{
    color: #8F0000;
    align-items: center;
    font: bold 1em arial;
}
.MenuTags{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}
.MenuTagsLine{
    border-bottom: 3px solid #EF9700;
    margin: 2% 0 2% 0;
    padding-bottom: 4px;
}
.MenuTabs {
    display: inline;
    background-color: #8F0000;
    border: solid #8F0000;
    border-width: 3px 10px 05px 10px;
    border-top-right-radius: 520px;
    font-size: 1em; 
}
.MenuContent-Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.MenuContent-Container div{
    display: flex;
    flex-flow: column;
    align-content: center;
}
.Content{
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 5px;
}
.contentImage{
    height: 90%;
    width: 90%;
}
.contentImageALT{
    height: 50%;
    width: 50%;
}
.spacer{
    margin: 2% 0 2% 0;
}
/*Detail view page classes*/
.Detail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.nutritonBox{
    border: 3px solid #8F0000;
    border-radius: 5px;
    width: 50vh;
}
.nutrition-table{
    width: 75%;
    padding: 5% 0% 1.5% 2.5%;
    border-spacing: 0px 20px;
    margin-left: 20px;
}
/*Shopping cart classes*/
.shoppingCart-content{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    gap: 30px;
    align-content: center;
    align-items: center;
    margin: 5% 2% 5% 2%;
}
.cart{
    display: flex;
    flex-flow: column;

}
.cart-Tab{
    display: block;
    background-color: #8F0000;
    border: 1px solid transparent;
    border-radius: 5px 5px 0px 0px;
    width: 50%;
    align-items: center;
    text-align: center;
}
.cart-Box{
    background-color: white;
    border: 3px solid #8F0000;
    border-radius: 5px 5px 0px 0px;
}
.cart-Table{
    border-spacing: 10px 20px;
}
.total-box{
    background-color: #8F0000;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    padding: 1.5% 0% 1.5% 0%;
}
.address-box{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: white;
    border: 3px solid #8F0000;
    border-radius: 5px;
    padding: .5% 9% .5% 9%;

}
.addressTxT-Table{
    border-spacing: 0px 20px;
    width: 100%;
}
.addressTxT{
    color: black;
    align-items: center;
    font: bold 1em arial;
    text-decoration: none;
}
.addressTxT:hover{
    color: #8F0000;
}
.checkout-btn{
    background-color: #EF9700;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 98%;
    text-align: center;
    margin-bottom: 3px;
}
.checkout-btn:hover{
    background-color: #8F0000;
}
@media screen and (max-width: 500px) {
    .MenuContent-Container{   
                flex-direction: column;
                gap: 50px;
            }
    .TitleBar{
        padding: 7% 0 7% 0;
    }
    .MenuBar{
            padding: 3% 0 3% 0;
    }
}