:root{
    --primary-bg-color: #E2E2E2;
    --Bangin-Red: #8F0000;
    --accent-yellow: #EF9700;
}
.Main {
    background-color: #E2E2E2;
    justify-content: center;
    margin: 0;
}
.TitleBar {
    background-color: #8F0000;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0 1% 0;

}
.White-Bold {
    color: white;
    align-items: center;
    font: bold 2em arial;
}
.Black-Bold {
    color: black;
    align-items: center;
    font: bold 2em arial;
}
.Red-SemiBold{
    color: #8F0000;
    align-items: center;
    font: 500 1.5em arial;
}
#ShoppingCart{
    height: 48px;
    width: 59px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#ShoppingCart:hover{
    background-color: #cf3b3b;
    border-radius: 15px;
}
#ShopCartSVG{
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
}
.MenuBar {
    background-color: #ffff;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0 1% 0;
}
.MenuBar div{
    color: #8F0000;
    align-items: center;
    font: bold 1em arial;
}
.MenuTags{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}
.MenuTagsLine{
    border-bottom: 3px solid #EF9700;
    margin: 2% 0 2% 0;
    padding-bottom: 4px;
}
.MenuTabs {
    display: inline;
    background-color: #8F0000;
    border: solid #8F0000;
    border-width: 3px 10px 05px 10px;
    border-top-right-radius: 520px;
    font-size: 1em; 
}
.MenuContent-Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.MenuContent-Container div{
    display: flex;
    flex-flow: column;
    align-content: center;
}
.Content{
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 5px;
}
.contentImage{
    height: 90%;
    width: 90%;
}
.spacer{
    margin: 2% 0 2% 0;
}
